.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
    box-shadow:  4px 5px 5px 0px #00000024;
    border-radius: 15px;
  }
 
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
 
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
 
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
 
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
 
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
 
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
 
  table{
    border: none;
    text-align: center;
    height: 300px;
    margin-top: 15px;
    box-shadow: 4px 5px 5px 0px #00000024;
    border-radius: 15px;
  }
  /* #totalCarteraBox{
  background-color: #00205B;
  }
  #vencidoBox{
    background-color: #D53302;
  }
  #aTiempoBox{
    background-color: #0C9600;
  } */
  #totalCarteraBox, #vencidoBox ,#aTiempoBox{
    text-align: center;
    box-shadow: 4px 5px 5px 0px #00000024;
    color: black;
        padding: 25px;
        border-radius: 15px;
        margin-bottom: 15px;
    height: 90%;
  }
  #rangePieChart, #container, #monthlyChart{
        padding: 25px;
        border-radius: 15px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem !important;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 4px 5px 5px 0px #00000024;
  }
  #fechaFormateada {
    display: contents;
  }
  .porcentajes {
    justify-content: space-between;
    align-items: flex-end;
  }
  .porcentajes_totales{
    font-size: 23px;
      transform: translateY(-20px);
  }
  .navbar-text
  {
    text-align: end;
    color: black;
  }
  .sidebar {
    box-shadow: 4px 5px 5px 0px #00000024;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: transform 0.3s ease-in-out;
  }
 
  .sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
  }
 
  .sidebar-header h5 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
  }
 
  .sidebar-body .form-group {
    margin-bottom: 20px;
  }
 
  .sidebar-body h6 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
 
  .form-group div {
    margin-left: 14px !important;
    margin: 5px 0;
    font-size: 13px;
    color: #666;
  }
 
  .form-group input[type="checkbox"] {
    margin-right: 5px;
  }
 
  .form-control {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .client-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .dashboard{
    display: flex;
  }
  .contenido {
    width: 100%;
  }
  .titulos {
    margin-bottom: 1.5rem;
}
.table-responsive {
    overflow-x: auto;
  }
 
  .main-table, .details-table {
    width: 100%;
    font-size: 0.85rem;
    margin-bottom: 0;
  }
 
  .main-table th, .main-table td,
  .details-table th, .details-table td {
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dee2e6;
  }
 
  .main-table thead th,
  .details-table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
 
  .details-table {
    background-color: #fff;
  }
  .details-table td {
    min-height: 15px; /* Establece la altura mínima de las celdas */
    vertical-align: top; /* Alinea el contenido de la celda en la parte superior */
}
 
 
.collapse-content {
  max-height: 400px; /* Define el máximo alto para el contenido colapsable */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es más alto que el máximo */
  transition: max-height 0.3s ease; /* Añade una transición suave para el cambio de altura máxima */
  min-height: unset; /* Elimina cualquier altura mínima fija */
}
 
 
  .clickable-row {
    cursor: pointer;
  }
 
  .clickable-row:hover {
    background-color: #f1f3f5;
  }
 
  .collapse-indicator::after {
    content: '\25BC';
    float: right;
    transition: transform 0.3s;
  }
 
  .collapsed .collapse-indicator::after {
    transform: rotate(-90deg);
  }
 
  .bg-grey {
    background-color: #00205B !important;
    font-weight: 500;
    color: white;
  }
 
  .cssbuttons-io-button {
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #00205B;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
  }
 
  .cssbuttons-io-button:hover {
    background-color: #00205B;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: white;
  }
  .form-group .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
   
  .form-group .custom-checkbox input[type="checkbox"] {
    display: none;
  }
   
  .form-group .custom-checkbox i {
    font-size: 20px;
    margin-right: 5px;
    color: black;
  }
   
  .form-group .custom-checkbox input[type="checkbox"]:checked + i {
    color: black;
    background-color: black;
    border-radius: 3px; /* Opcional: añade bordes redondeados */
  }